.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.example-form {
  min-width: 400px;
  max-width: 600px;
  width: 100%;
}

.tile {
  overflow: auto;
  padding-top: 30px;
  border: 1px solid #ccc;
  word-break: break-word;
  width: 700px;
  height: 700px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
text-align: center;
}

.delete-button {
  margin: 20px;
}
