.tile {
  overflow: auto;
  margin: 9px;
  padding: 20px;
  border: 1px solid #ccc;
  float: left;
  word-break: break-word;
  width: 300px;
  height: 600px;
  border-radius: 25px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.headline {
  text-align: center;
  font-weight: bold;
}

.padding {
  padding-bottom: 20px;
}

.rechts {
  float: right;
  z-index: 2;
}

.image {
  max-width: 50%;
  object-fit: contain;
}

.link {
  color: #000000;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
