.headline {
  text-align: center;
  font-weight: bold;
}
.link {
  color: #ffffff;
  text-decoration: none;
  margin-right: 50px;
  justify-self: end;
  width: 100px;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-auto-columns: auto;

}
.menu {
  grid-auto-columns: auto;
}

.grid{
  display: grid;
  column-gap: 20px;
  grid-auto-columns: auto auto;
}

.liste{
  display: flex;
  flex-wrap: wrap;
justify-content: right;
  margin-right: 50px;
}
.chip{
  margin-right: 8px
}

