<div *ngIf="this.loading" class="container">
  Loading...
  <mat-spinner color="access"></mat-spinner>
</div>
<div *ngIf="this.error" class="container">
  <h1>Tour konnte nicht geladen werden</h1>
</div>
<div class="container" *ngIf="!this.error">
  <div>
    <div *ngIf="this.tourForm" class="tile">

      <form [formGroup]="this.tourForm" class="example-form" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>description</mat-label>
            <textarea matInput type="text" formControlName="description" placeholder="Beschreibung" cdkTextareaAutosize ></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Logo</mat-label>
            <textarea matInput type="text" formControlName="logo" placeholder="Logo" cdkTextareaAutosize>   </textarea>
          </mat-form-field>
        </div>
        <img [src]="this.logo" alt="Logo" width="160" height="100"> <button  mat-raised-button color="accent" (click)="refreshLogo()"><mat-icon>refresh</mat-icon></button>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>price</mat-label>
            <input matInput type="number" formControlName="description" placeholder="price" cdkTextareaAutosize >
          </mat-form-field>
        </div>

        <div *ngFor="let attraction of getAttractionsControls(); let i = index">
          <mat-form-field class="example-full-width">
            <input matInput type="text"  placeholder="Name" [value]="attraction.get('attraction')?.value">
          </mat-form-field>
          <mat-form-field class="example-full-width">
          <input matInput type="text"  placeholder="Beginn" [value]="attraction.get('begin')?.value">
          </mat-form-field>
          <mat-form-field class="example-full-width">
          <input matInput type="text"  placeholder="Ende" [value]="attraction.get('end')?.value">
          </mat-form-field>
          <button mat-raised-button color="warn" (click)="deleteAttraction(i)" class="delete-button">Delete</button>
        </div>
        <button mat-raised-button color="accent" type="button" (click)="addAttraction()" class="delete-button">Add Attraction</button>
        <p>
        <button mat-raised-button color="warn" type="button" class="delete-button" (click)="deleteTour()" *ngIf="this.tourName!=null">Delete</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!tourForm.valid">Speichern</button>
        </p>
      </form>
    </div>
  </div>
</div>
