<div *ngIf="this.loading" class="container">
  Loading...
  <mat-spinner color="access"></mat-spinner>
</div>
<div *ngIf="this.error" class="container">
  <h1>Attraktion konnte nicht geladen werden</h1>
</div>

<div class="container">
  <div>
    <div *ngIf="this.attractionForm" class="tile">

      <form [formGroup]="this.attractionForm" class="example-form" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Name">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>description</mat-label>
            <textarea matInput type="text" formControlName="description" placeholder="Beschreibung" cdkTextareaAutosize ></textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Logo</mat-label>
            <textarea matInput type="text" formControlName="logo" placeholder="Logo" cdkTextareaAutosize>   </textarea>
          </mat-form-field>
        </div>
        <img [src]="this.logo" alt="Logo" width="160" height="100"> <button  mat-raised-button color="accent" (click)="refreshLogo()"><mat-icon>refresh</mat-icon></button>




          <div *ngFor="let tag of getTagsControls(); let i = index">
            <mat-form-field class="example-full-width">
              <input matInput type="text"  placeholder="Tag" [value]="tag.get('tagName')?.value">
            </mat-form-field>

            <button mat-raised-button color="warn" type="button" (click)="deleteTag(i)" class="delete-button">Delete</button>
          </div>
          <button mat-raised-button color="accent" type="button" (click)="addTag()" class="delete-button">Add Tag</button>
<p>
        <button mat-raised-button color="primary" type="submit" class="delete-button"[disabled]="!attractionForm.valid">Ändern</button>
        <button mat-raised-button color="warn" type="button" class="delete-button"(click)="deleteAttraction()" *ngIf="this.attractionName!=null">Delete</button>
        </p>
      </form>
    </div>
  </div>
</div>
