<div *ngIf="error" class="container">
  <mat-icon>error</mat-icon>
  <div class="error">Fehler beim Laden der Tour</div>
</div>

<h1 *ngIf="!this.tour &&!error" class="container">loading
  <mat-spinner color="access"></mat-spinner>
</h1>
<div class="container">
  <div class="tile" *ngIf="this.tour">
    <a [routerLink]="['/tour-overview',this.tour.name]" class="link">
      <div class="headline">{{ this.tour.name }}
        <span *ngIf="direktorModus">
         <mat-icon class="rechts">
          <a href="http://localhost:81/tourEdit?parameter={{this.tour.name}}" class="link" target="_blank">
          edit</a>
         </mat-icon>
       </span>
      </div>

      <div *ngIf="this.tour?.logo"><img [src]="this.tour.logo" class="image"></div>
      <div *ngIf="this.tour?.description">{{ this.tour.description }}</div>
      <div *ngIf="this.tour?.attractions?.length != 0">
      </div>
      <div *ngIf="this.tour?.attractions?.length!=0">
        Attraktionen auf dieser Tour:
        <mat-chip-listbox *ngFor="let attraction of this.tour?.attractions;">
          <a [routerLink]="['/attraction-overview',attraction.attraction]" class="priorisieren">
            <mat-chip color="accent"
            >
              {{ attraction.attraction }}
            </mat-chip>
          </a>
        </mat-chip-listbox>
      </div>
      <div class="padding" *ngFor="let attraction of this.tour?.attractions;">
        {{ attraction ? attraction.attraction + " wird besucht von:" + attraction.begin + "-" + attraction.end : "keine Zeitangabe" }}
      </div>
      <div *ngIf="this.tour.price">
        Preis: {{ this.tour.price }}€
      </div>
    </a>
  </div>
</div>
